<h1>¡Games!</h1>

<ul>
        <li><%= link_to "New Player", new_player_path%></li>
</ul>
<% @rounds.each do |round| %>
        <%if (round.player.nil?) %>
                <%"Ronda #{round.id} sin ganador."%>
        <%else%>
                <h2><%= "Ronda: #{round.id} Ganador: #{round.player.name}" %></h2>"
        <%end%>
<%end%>